.header {
  padding: 10.9vh 20rem 89rem;
}

.logo {
  position: relative;
  display: block;
  width: 140rem;
  height: 30rem;

  transition-property: opacity;
  transition-duration: var(--app-transition-duration);

  user-select: none;
}

.logo:hover {
  opacity: 0.8;
}

@media (--mobile) {
  .header {
    padding: 40rem 40rem 20rem;
  }
}
